/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank

/* Colors */
$text-color: #262626 !default;
$border-color: mix(#fff, #262626, 75%) !default;
$masthead-link-color: #262626 !default;

// .page__title {
//   color: #262626;
// }

.archive__item-title {
  color: #262626;
}
