/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank

/* Colors */
$text-color: #262626 !default;
$border-color: mix(#fff, #262626, 75%) !default;
// $link-color: #8f8681 !default;
$link-color: #1d6a96 !default;
// $link-color: #85b8cb !default;
$masthead-link-color: #262626 !default;
$masthead-link-color-hover: #262626 !default;

// .page__title {
//   color: #262626;
// }

// .archive__item-title {
//   font-size: 30px;
// }

// .archive__item-excerpt {
//   padding-bottom: 40px;
//   border-bottom: 1px solid #262626;
// }

.page__inner-wrap .page__content a:hover {
  color: #283b42;
}
