---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">
  {{ site.data.ui-text[site.locale].recent_posts | default: "최근 포스트" }}
</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %} {% include archive-single.html type=entries_layout %}
  <!-- <br>
  <hr /> -->
  {% endfor %}
</div>

{% include paginator.html %}
